body{
    background-color: #808080;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
 } 
#js{
     box-shadow: 0px 0px 40px orangered;
     color:orange;
     font-family:'Courier New', Courier, monospace;
     font-size: 8rem;
     padding: 20px;
}